<divc class="container">
  <footer class="blog-footer">



    <p>Copyright © JBIndustries 2020</p>
    <p>
      <a class="btn btn-outline-success" href="#">Back to top</a>
    </p>
  </footer>
  
  

</div>



</body>

</html>