<%- include("partials/header"); -%>

<div class="form-group">
    <h3 class="my-5">Title</h3>
    <input type="text" class="form-control">
    <h3 class="my-5">Content of the article</h3>
    <textarea class="form-control  content-writer" cols="30" rows="10"></textarea>
    <div class="justify-content-center row">
        <a href="" class="btn btn-outline-success col-4 my-5">Publish</a>
    </div>
    
</div>



<%- include("partials/footer"); -%>
