<%- include("partials/header"); -%>

<div class="date">
    <p class="text-left text-muted mt-5 blog-post-meta">Date de l'article : 15/10/1998</p>
</div>


<div class="jumbotron p-4 p-md-5 text-white rounded featured-article bg-dark mb-5">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
            about what’s most interesting in this post’s contents.</p>
       
    </div>
</div>
</div>

<div class="container">
    <h1 class="my-5 blog-post-title">Title of the article</h1>
    <h3 class="font-weigth-italic my-5">Undertitle</h3>
    <p class="text"></p>
    <p class="text-justify blog-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Massa sapien faucibus et molestie ac feugiat sed. Et magnis dis parturient montes nascetur
        ridiculus. Sodales ut etiam sit amet nisl purus. Ut pharetra sit amet aliquam. Nibh sit amet commodo nulla
        facilisi. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Ornare arcu odio
        ut sem. Tristique senectus et netus et malesuada fames ac. Ut consequat semper viverra nam. Rhoncus aenean vel
        elit scelerisque mauris pellentesque pulvinar pellentesque. Condimentum lacinia quis vel eros donec ac odio.
        Euismod nisi porta lorem mollis aliquam ut. Massa id neque aliquam vestibulum morbi blandit cursus risus at.
        Aliquet enim tortor at auctor urna nunc. Ut placerat orci nulla pellentesque. Adipiscing elit ut aliquam purus
        sit amet. Massa ultricies mi quis hendrerit dolor magna. Tortor posuere ac ut consequat semper viverra.

        Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Vel fringilla est ullamcorper eget nulla
        facilisi etiam dignissim. Eros in cursus turpis massa tincidunt dui. Porttitor leo a diam sollicitudin tempor id
        eu. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Ullamcorper sit amet risus nullam. Mi eget
        mauris pharetra et ultrices neque ornare aenean euismod. Auctor eu augue ut lectus. Quis blandit turpis cursus
        in hac habitasse platea dictumst. Id ornare arcu odio ut sem nulla pharetra diam. Mi in nulla posuere
        sollicitudin.

        Aliquet nibh praesent tristique magna sit amet purus gravida. Leo vel orci porta non pulvinar neque laoreet.
        Quisque non tellus orci ac auctor augue mauris. Tristique et egestas quis ipsum suspendisse ultrices. Porta non
        pulvinar neque laoreet suspendisse interdum. Dolor purus non enim praesent elementum facilisis. Vehicula ipsum a
        arcu cursus vitae congue mauris. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Nisl purus
        in mollis nunc sed. Nullam ac tortor vitae purus faucibus ornare.

        Facilisis gravida neque convallis a cras semper auctor neque. Accumsan sit amet nulla facilisi morbi tempus
        iaculis urna. Tincidunt augue interdum velit euismod in. Non odio euismod lacinia at quis risus. Imperdiet proin
        fermentum leo vel orci porta non. Vitae congue mauris rhoncus aenean vel elit scelerisque. Urna nec tincidunt
        praesent semper feugiat. Libero nunc consequat interdum varius sit. Arcu non sodales neque sodales. Vitae semper
        quis lectus nulla at volutpat diam ut venenatis. Quis varius quam quisque id diam vel. Orci eu lobortis
        elementum nibh tellus molestie nunc non. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus.
        Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Accumsan sit amet nulla facilisi
        morbi tempus iaculis. Nec sagittis aliquam malesuada bibendum arcu vitae. Nec ultrices dui sapien eget mi proin.

        Sit amet massa vitae tortor. Quis risus sed vulputate odio ut. Lectus proin nibh nisl condimentum id venenatis
        a. Volutpat lacus laoreet non curabitur gravida arcu ac. Mattis aliquam faucibus purus in massa tempor nec
        feugiat. Accumsan in nisl nisi scelerisque eu ultrices. Egestas erat imperdiet sed euismod nisi porta lorem
        mollis aliquam. Tortor posuere ac ut consequat semper viverra nam. In vitae turpis massa sed elementum tempus
        egestas sed sed. Vel pharetra vel turpis nunc eget lorem dolor. Accumsan tortor posuere ac ut consequat semper
        viverra. Et leo duis ut diam quam nulla porttitor massa.</p>
        
<a href="/home" class="btn btn-outline-success my-5">Back to home</a>

</div>

<%- include("partials/footer"); -%>