<%- include("partials/header"); -%>

<div class="m-5">
    <h1 class="">Thanks for subscribing :)</h1>
    <a href="/home" class="btn btn-outline-success mt-5">Back to home</a>
</div>

<%- include("partials/footer"); -%>
