<%- include("partials/header"); -%>

<div class="">

    <form action="">
        <h1 class="mb-4">Name</h1>
        <input type="text" class="text-center form-control">
        <h1 class="my-4">Email</h1>
        <input type="email" class="text-center form-control">
        <a href="" class="px-5 btn subscribe my-5">Subscribe</a>
    </form>
    

</div>


<%- include("partials/footer"); -%>